* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.btn {
  border: none;
  padding: 16px 24px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
}

.title {
  margin-bottom: 48px;
}

/* CSS Animation Fundamentals */
.animation-fundamentals {
  padding: 64px;
}

.transition-properties {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.transition-properties > .btn:not(:first-child) {
  transition-duration: 1.5s;
  background-color: hsl(240, 66%, 63%);
  color: #fff;
}

.transition-properties > .btn:not(:first-child):hover {
  transform: translateX(500px);
}

.btn-transition {
  color: #fff;
  background-color: hsl(240, 66%, 63%);
  transition: 0.5s ease-in-out;
}

.btn-transition:hover {
  background-color: hsl(120, 60%, 36%);
}

/* 
  ease: the starts slow the go faster the finishes slow
  linear: the change occurs at the same rate
  ease in: the change starts slow then go faster before the end
  ease-out: the change starts fast the slows down before the end
  ease-in-out: the change starts slow then go faster then finishes slow
  
  P.S. There is transition delay which will wait and after that the transition property will be activated
  */

.btn-ease {
  transition-timing-function: ease;
}

.btn-linear {
  transition-timing-function: linear;
}

.btn-ease-in {
  transition-timing-function: ease-in;
}

.btn-ease-out {
  transition-timing-function: ease-out;
}

.btn-ease-in-out {
  transition-timing-function: ease-in-out;
}

/* Transform fundamentals */
.transform-fundamentals {
  padding: 64px;
}

.transform-properties {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.transform-properties > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 4px;
  background-color: rgb(189, 116, 152);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}

.transform-scale:hover {
  transform: scale(1.2);
}

.transform-translate:hover {
  transform: translateY(-100px);
}

.transform-rotate:hover {
  transform: rotate(180deg);
}

.transform-skew:hover {
  transform: skew(-24deg, -8deg);
}

/* Transform Origin */

.transform-fundamentals-origin {
  padding: 64px;
}

/* 
It can be used custom transform-origin: 80% 30%;
*/

.transform-origin-top {
  transform-origin: top;
}

.transform-origin-top:hover {
  transform: rotate(45deg);
}

.transform-origin-bottom {
  transform-origin: bottom;
}

.transform-origin-bottom:hover {
  transform: rotate(45deg);
}

.transform-origin-left {
  transform-origin: left;
}

.transform-origin-left:hover {
  transform: rotate(45deg);
}

.transform-origin-right {
  transform-origin: right;
}

.transform-origin-right:hover {
  transform: rotate(45deg);
}

.transform-origin-top-right {
  transform-origin: top right;
}

.transform-origin-top-right:hover {
  transform: rotate(45deg);
}

.transform-origin-top-left {
  transform-origin: top left;
}

.transform-origin-top-left:hover {
  transform: rotate(45deg);
}

.transform-origin-bottom-left {
  transform-origin: bottom left;
}

.transform-origin-bottom-left:hover {
  transform: rotate(45deg);
}

.transform-origin-bottom-right {
  transform-origin: bottom right;
}

.transform-origin-bottom-right:hover {
  transform: rotate(45deg);
}

/* 3D rotate */
.transform-3d-rotate {
  padding: 64px;
}

.transform-3d-x {
  perspective: 1000px;
}

.transform-3d-x:hover {
  transform: rotateX(60deg);
}

.transform-3d-y {
  perspective: 500px;
}

.transform-3d-y:hover {
  transform: rotateY(60deg);
}

.transform-3d-z {
  perspective: 500px;
}

.transform-3d-z:hover {
  transform: rotateZ(60deg);
}

/* Button Animations */
.btn-animations {
  padding: 64px;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.btn-animation--1 {
  position: relative;
  border: 1px solid hsl(0, 0%, 15%);
  background-color: transparent;
  overflow: hidden;
}

.btn-animation--1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: yellow;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  z-index: -1;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: 1s;
}

.btn-animation--1:hover::before {
  transform: rotate(0);
}

.btn-animation--2 {
  background-color: transparent;
  border: 1px solid #000;
  position: relative;
  transition: 0.5s;
}

.btn-animation--2:hover {
  color: #fff;
}

.btn-animation--2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: tomato;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 1s;
}

.btn-animation--2:hover::before {
  width: 100%;
}

.btn-animation--3 {
  background-color: transparent;
  border: 1px solid #000;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}

.btn-animation--3:hover {
  color: #fff;
}

.btn-animation--3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: tomato;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  z-index: -1;
  transition: 1s;
}

.btn-animation--3:hover::before {
  transform: translateY(0);
}

.btn-animation--4 {
  position: relative;
  border: 1px solid hsl(258, 67%, 52%);
  background-color: transparent;
  transition: 1s;
  color: hsl(258, 67%, 52%);
}

.btn-animation--4:hover {
  color: #fff;
}

.btn-animation--4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(258, 67%, 52%);
  transition: 1s;
  transform: rotateX(90deg);
  z-index: -1;
}

.btn-animation--4::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(258, 67%, 52%);
  transition: 1s;
  transform: rotateY(90deg);
  z-index: -1;
}

.btn-animation--4:hover::before {
  transform: rotateX(0);
}

.btn-animation--4:hover::after {
  transform: rotateY(0);
}

.btn-animation--5 {
  background-color: transparent;
  border: 1px solid #000;
  position: relative;
  overflow: hidden;
}

.btn-animation--5::before {
  content: "YEAH !";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: tomato;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: 0.5s;
}

.btn-animation--5:hover::before {
  transform: translateY(0);
}

.btn-animation--6 {
  position: relative;
  border: none;
  background-color: #000;
  color: #fff;
  transition: 1s;
  overflow: hidden;
}
.btn-animation--6:hover {
  background-color: #ca5743;
}

.btn-animation--6::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.219);
  top: 0;
  left: 0;
  width: 100%;
  height: 12px;
  transform: translate(-100%, 50%) rotate(45deg);
  transition: 1s;
}

.btn-animation--6:hover::before {
  transform: translate(100%, 50%) rotate(45deg);
}

.btn-animation--7 {
  background-color: #000;
  color: #fff;
  position: relative;
  border: 1px solid #000;
  transition: 1s;
  overflow: hidden;
}

.btn-animation--7::before {
  content: "Hover me...";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #000;
  background-color: hsl(60, 81%, 70%);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-100%, 100%);
  transition: 1s;
}

.btn-animation--7:hover::before {
  transform: translate(0, 0);
}

.btn-animation--8 {
  border: 1px solid black;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.btn-animation--8::before {
  content: "Hover me...";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(5);
  opacity: 0;
  transition: all 0.5s;
}

.btn-animation--8:hover::before {
  transform: scale(1);
  opacity: 1;
}

.btn-animation--9 {
  position: relative;
  background-color: yellow;
  color: black;
}

.btn-animation--9::before {
  content: "Hover me...";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: magenta;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);

  /* it will take the top center point for rotating */
  transform-origin: top;

  transition: all 1s;
}

.btn-animation--9:hover:before {
  transform: rotateX(0);
}

.btn-animation--9::after {
  content: "Hover me...";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: cyan;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(270deg);

  /* it will take the top center point for rotating */
  transform-origin: top;

  transition: all 1s;
  transition-delay: 0.25s;
}

.btn-animation--9:hover:after {
  transform: rotateX(0);
}

.btn-animation--10 {
  position: relative;
  background-color: white;
  border: 1px solid black;
  color: white;
}

.btn-animation--10::before {
  content: "Hover me...";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.btn-animation--10:hover:before {
  left: 100%;
  transform: scale(0) rotateY(360deg);
  opacity: 0;
}

.btn-animation--10::after {
  content: "Hover me...";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  transform: scale(0) rotateY(0deg);
  opacity: 0;
}

.btn-animation--10:hover:after {
  left: 0;
  transform: scale(1) rotateY(360deg);
  opacity: 1;
}

.btn-animation--11 {
  position: relative;
  background-color: transparent;
  border: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn-animation--11::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -1%;
  height: 100%;
  width: 50%;
  background-color: tomato;
  transform: skewX(30deg);
  z-index: -1;
  transition: 0.3s;
}

.btn-animation--11:hover:before {
  transform: skewX(0deg);
  left: 50%;
  top: 0;
}

.btn-animation--11::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 50%;
  height: 100%;
  width: 50%;
  background-color: turquoise;
  transform: skewX(30deg);
  z-index: -1;
  transition: 0.3s;
}

.btn-animation--11:hover:after {
  transform: skewX(0deg);
  left: 0;
  top: 0;
}

.btn-animation--12 {
  position: relative;
  background-color: transparent;
  border: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn-animation--12::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 100%;
  background-color: turquoise;
  z-index: -1;
  mix-blend-mode: multiply;
  transform-origin: top;
  transition: all 0.3s;
}

.btn-animation--12:hover:before {
  top: -6px;
  left: 0;
  transform: perspective(500px) rotateX(75deg);
}

.btn-animation--12::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 100%;
  height: 100%;
  background-color: tomato;
  z-index: -1;
  mix-blend-mode: multiply;
  transform-origin: bottom;
  transition: all 0.3s;
}

.btn-animation--12:hover:after {
  top: 6px;
  left: 0;
  transform: perspective(500px) rotateX(-75deg);
}

.btn-animation--13 {
  position: relative;
  background-color: transparent;
  border: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn-animation--13::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 0;
  width: 100%;
  height: calc(100% + 32px);
  border-left: 2px solid tomato;
  border-right: 2px solid turquoise;
  transition: all 1s;
  transition-delay: 0.2s;
}

.btn-animation--13:hover:before {
  transform: rotateY(180deg);
}

.btn-animation--13:hover:after {
  transform: rotateX(180deg);
}

.btn-animation--13::after {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  width: calc(100% + 32px);
  height: 100%;
  border-top: 2px solid tomato;
  border-bottom: 2px solid turquoise;
  transition: all 1s;
}

.btn-animation--14 {
  position: relative;
  background-color: transparent;
  font-weight: bold;
  border: none;
  transition: all 0.3s;
  border-radius: 0;
  overflow: hidden;
}

.btn-animation--14::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background-color: rgb(34, 34, 34);
  transition: all 0.5s;
}

.btn-animation--14:hover:before {
  left: 0;
}

.btn-animation--14::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background-color: rgb(34, 34, 34);
  transition: all 0.5s;
}

.btn-animation--14:hover:after {
  right: 0;
}

.btn-animation--14__side-border::before {
  content: "";
  position: absolute;
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: rgb(34, 34, 34);
  transition: all 0.5s;
}

.btn-animation--14:hover .btn-animation--14__side-border::before {
  top: 0;
}

.btn-animation--14__side-border::after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: rgb(34, 34, 34);
  transition: all 0.5s;
}

.btn-animation--14:hover .btn-animation--14__side-border::after {
  bottom: 0;
}
