* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.btn {
  border: none;
  padding: 16px 24px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
}

.title {
  margin-bottom: 48px;
}

/* CSS Animation Fundamentals */
.animation-fundamentals {
  padding: 64px;
}

.transition-properties {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.transition-properties > .btn:not(:first-child) {
  transition-duration: 1.5s;
  background-color: hsl(240, 66%, 63%);
  color: #fff;
}

.transition-properties > .btn:not(:first-child):hover {
  transform: translateX(500px);
}

.btn-transition {
  color: #fff;
  background-color: hsl(240, 66%, 63%);
  transition: 0.5s ease-in-out;
}

.btn-transition:hover {
  background-color: hsl(120, 60%, 36%);
}

/* 
  ease: the starts slow the go faster the finishes slow
  linear: the change occurs at the same rate
  ease in: the change starts slow then go faster before the end
  ease-out: the change starts fast the slows down before the end
  ease-in-out: the change starts slow then go faster then finishes slow
  
  P.S. There is transition delay which will wait and after that the transition property will be activated
  */

.btn-ease {
  transition-timing-function: ease;
}

.btn-linear {
  transition-timing-function: linear;
}

.btn-ease-in {
  transition-timing-function: ease-in;
}

.btn-ease-out {
  transition-timing-function: ease-out;
}

.btn-ease-in-out {
  transition-timing-function: ease-in-out;
}

/* Transform fundamentals */
.transform-fundamentals {
  padding: 64px;
}

.transform-properties {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.transform-properties > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 4px;
  background-color: rgb(189, 116, 152);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}

.transform-scale:hover {
  transform: scale(1.2);
}

.transform-translate:hover {
  transform: translateY(-100px);
}

.transform-rotate:hover {
  transform: rotate(180deg);
}

.transform-skew:hover {
  transform: skew(-24deg, -8deg);
}

/* Transform Origin */

.transform-fundamentals-origin {
  padding: 64px;
}

/* 
It can be used custom transform-origin: 80% 30%;
*/

.transform-origin-top {
  transform-origin: top;
}

.transform-origin-top:hover {
  transform: rotate(45deg);
}

.transform-origin-bottom {
  transform-origin: bottom;
}

.transform-origin-bottom:hover {
  transform: rotate(45deg);
}

.transform-origin-left {
  transform-origin: left;
}

.transform-origin-left:hover {
  transform: rotate(45deg);
}

.transform-origin-right {
  transform-origin: right;
}

.transform-origin-right:hover {
  transform: rotate(45deg);
}

.transform-origin-top-right {
  transform-origin: top right;
}

.transform-origin-top-right:hover {
  transform: rotate(45deg);
}

.transform-origin-top-left {
  transform-origin: top left;
}

.transform-origin-top-left:hover {
  transform: rotate(45deg);
}

.transform-origin-bottom-left {
  transform-origin: bottom left;
}

.transform-origin-bottom-left:hover {
  transform: rotate(45deg);
}

.transform-origin-bottom-right {
  transform-origin: bottom right;
}

.transform-origin-bottom-right:hover {
  transform: rotate(45deg);
}

/* 3D rotate */
.transform-3d-rotate {
  padding: 64px;
}

.transform-3d-x {
  perspective: 1000px;
}

.transform-3d-x:hover {
  transform: rotateX(60deg);
}

.transform-3d-y {
  perspective: 500px;
}

.transform-3d-y:hover {
  transform: rotateY(60deg);
}

.transform-3d-z {
  perspective: 500px;
}

.transform-3d-z:hover {
  transform: rotateZ(60deg);
}

/* Button Animations */
.btn-animations {
  padding: 64px;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.btn-animation--1 {
  position: relative;
  border: 1px solid hsl(0, 0%, 15%);
  background-color: transparent;
  overflow: hidden;
}

.btn-animation--1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: yellow;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  z-index: -1;
  transform-origin: bottom left;
  transform: rotate(-90deg);
  transition: 1s;
}

.btn-animation--1:hover::before {
  transform: rotate(0);
}

.btn-animation--2 {
  background-color: transparent;
  border: 1px solid #000;
  position: relative;
  transition: 0.5s;
}

.btn-animation--2:hover {
  color: #fff;
}

.btn-animation--2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: tomato;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 1s;
}

.btn-animation--2:hover::before {
  width: 100%;
}

.btn-animation--3 {
  background-color: transparent;
  border: 1px solid #000;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}

.btn-animation--3:hover {
  color: #fff;
}

.btn-animation--3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: tomato;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  z-index: -1;
  transition: 1s;
}

.btn-animation--3:hover::before {
  transform: translateY(0);
}

.btn-animation--4 {
  position: relative;
  border: 1px solid hsl(258, 67%, 52%);
  background-color: transparent;
  transition: 1s;
  color: hsl(258, 67%, 52%);
}

.btn-animation--4:hover {
  color: #fff;
}

.btn-animation--4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(258, 67%, 52%);
  transition: 1s;
  transform: rotateX(90deg);
  z-index: -1;
}

.btn-animation--4::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(258, 67%, 52%);
  transition: 1s;
  transform: rotateY(90deg);
  z-index: -1;
}

.btn-animation--4:hover::before {
  transform: rotateX(0);
}

.btn-animation--4:hover::after {
  transform: rotateY(0);
}
